header button{
     background-color: #ffffff;
    color: rgb(0, 0, 0);
     padding: 20px;
     font-size: 2rem;
     border: none;
     
}

header button:hover{
     background-color: #000000a4;
    color: white;
     padding: 20px;
     
}
form label{
  background-color: black;
  font-size: 3rem;
  color: white;
  
}

html{
    background-color: rgb(0, 0, 0);
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    display: block;
    text-align: center;
    width: 90%;
}

input{
    font-size:2.5rem ;
    font: rem;
}

#submit{
    background-color: rgb(255, 255, 255);
    color: rgba(1, 1, 1, 0.819);
    font-size: larger;
    
}
#submit:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 252, 252);
    font-size: larger;
    border: none;
    cursor: pointer;
    
}

footer{
    background-color: rgba(66, 66, 66, 0.259);
    color: rgb(255, 252, 252);
    font-size: larger;
    border: none;
    cursor: pointer;
    font-size: 3rem;

}

 